.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: rgb(252, 252, 252);
    padding: 10px;
    grid-gap: 20px;
  }

  .grid-item {
    background-color: rgba(164, 246, 255, 0.918);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    
  }
  
.grid-item img {
    display: block;
    max-width: 100%;
    text-align: center;
  }

.waiting {
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.albuminfo {
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: left;
  float: left;
  width: 100%;
}

.navigation {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}
