<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <script src="js/cognito.js"></script>
  <!-- AWS SDK -->
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.238.1.min.js"></script>
  <!-- async library -->
  <script src="js/async.min.js"></script>

</head>
<body>
  <div id="gridvue">
    <v-app>
      <v-main>
        <v-app-bar app dark class="indigo">
          <v-app-bar-nav-icon v-if="signedIn" @click="drawer = !drawer">   </v-app-bar-nav-icon>
          <v-toolbar-title href>Leila's Photo Store</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn v-if="signedIn" href="logout.html">Log Out
            <v-icon>mdi-logout</v-icon>
          </v-btn>
          <v-btn v-if="!signedIn" href="login.html">Log In
            <v-icon>mdi-login</v-icon>
          </v-btn>
        </v-app-bar>
        <v-navigation-drawer v-model="drawer" app >
          <p>test</p>
        </v-navigation-drawer>
        <v-container v-if="signedIn && displayingAlbums">
          <v-layout row wrap>
            <v-flex xs6 md3 v-for="item in albumNames">
              <v-card>
                <v-card-title>{{ item }}</v-card-title>
                <v-card-actions>
                  <v-btn @click="viewAlbum(item,'stt')">Show Images</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
        <v-container v-if="signedIn && displayingPhotos">
          <v-layout row wrap>
            <v-flex xs6 md3 v-for="item in photoUrls">
              <photo-item  :key="item.key" action="photo" :url="item.url" :pkey="item.key" :thumburl="item.thumburl"></photo-item>
            </v-flex>
          </v-layout>
        </v-container>
      </v-main>
    </v-app>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="js/config.js"> </script>
  <script src="js/gridvue.js"></script>
</body>
</html>