<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <script src="js/cognito.js"></script>
  <!-- AWS SDK -->
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.238.1.min.js"></script>
  <!-- async library -->
  <script src="js/async.min.js"></script>

</head>
<body>
  <div id="gridvue">
    <v-app>
      <v-main>
        <v-app-bar app dark class="indigo">
          <v-app-bar-nav-icon v-if="signedIn" @click="drawer = !drawer">   </v-app-bar-nav-icon>
          <v-toolbar-title href>Leila's Photo Store</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn v-if="signedIn" href="logout.html">Log Out
            <v-icon>mdi-logout</v-icon>
          </v-btn>
          <v-btn v-if="!signedIn" href="login.html">Log In
            <v-icon>mdi-login</v-icon>
          </v-btn>
        </v-app-bar>
        <v-navigation-drawer v-model="drawer" app >
          <p>test</p>
        </v-navigation-drawer>
        <div class="waiting" v-if="uploading">
          Uploading. {{ upCounter }} files remaining. Please wait...
          <img src="assets/ellipsis.gif">
        </div>
        <v-container v-if="displayAlert">
          <v-layout row justify-center>
            <v-flex xs10>
              <v-alert v-model="displayAlert" dense :type="alertType" dismissible>{{ alertMessage }}</v-alert>
            </v-flex>
          </v-layout>
        </v-container>
        <v-container v-if="getAlbumName">
          <v-layout row justify-center>
            <v-flex xs10>
              <v-text-field v-model="newAlbum">Enter Name of new Album</v-text-field>
              <v-btn  @click="getAlbumName=false">Cancel</v-btn>
              <v-btn  @click="createAlbum(newAlbum)">Submit</v-btn>
            </v-flex>
          </v-layout>
        </v-container>
        <v-container v-if="uploadPhotos">
          <v-layout row justify-center>
            <v-flex xs10>
              <v-file-input v-model="files"
                small-chips outlined dense multiple 
                label="Add photos to this Album">
              </v-file-input>
              <v-btn  @click="uploadPhotos=false">Cancel</v-btn>
              <v-btn @click="onFileChange(files)">Upload </v-btn>
            </v-flex>
          </v-layout>
        </v-container>
        <v-container v-if="signedIn && displayingAlbums">
          <v-layout row wrap>
            <v-flex xs6 md3>
              <v-card height="100px" @click="getAlbumName=true">
                <v-card-title class="justify-center">Add New Album</v-card-title>
              </v-card>
            </v-flex>
            <v-flex xs6 md3 v-for="item in albumNames">
              <v-card height="100px" @click="viewAlbum(item,'stt')">
                <v-card-title class="justify-center">{{ item }}</v-card-title>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
        <v-container v-if="signedIn && displayingPhotos">
          <v-layout row wrap>
            <v-flex xs12>
              <v-btn @click="listAlbums()">
                <v-icon left>mdi-arrow-left</v-icon>Back to Albums
              </v-btn>
              <v-btn @click="uploadPhotos=true">
                <v-icon left>mdi-upload</v-icon>Upload Photos
              </v-btn>
              <v-dialog v-model="del_dialog" width="200">
                <template v-slot:activator="{ on }">
                  <v-btn    color="red lighten-2" dark v-on="on"> 
                    <v-icon>mdi-trash-can</v-icon>Delete Album
                  </v-btn>
                </template>
                <v-card>
                  <v-card-text > Are you sure you want to delete this Album? </v-card-text>
                  <v-divider></v-divider>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn  @click="del_dialog = false">Cancel</v-btn>
                    <v-btn  @click="deleteAlbum(currentAlbum)">Delete</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-flex>
            <!-- <v-flex xs6 md3>
              <v-card>
                <v-card-title class="justify-center">Add Photos</v-card-title>
                <v-file-input multiple @change="onFileChange"> </v-file-input>
              </v-card>
            </v-flex> -->
            <v-flex xs6 md3 v-for="item in photoUrls">
              <photo-item  :key="item.key" action="photo" :url="item.url" :pkey="item.key" :thumburl="item.thumburl"></photo-item>
            </v-flex>
            <v-flex xs12 v-if="!endReached">
              <v-btn justify-center @click="viewAlbum(currentAlbum,'fwd')">Load More Images
              </v-btn>
            </v-flex>
          </v-layout>
        </v-container>
        <v-container v-if="signedIn && displayingSingle">
          <v-layout align-center justify-center row wrap>
            <v-flex xs8>
              <v-card>
                <v-card-actions>
                  <v-btn @click="viewAlbum(currentAlbum,'del')">
                    <v-icon left>mdi-arrow-left</v-icon>
                  </v-btn>
                  <v-btn @click="downloadPhoto(currentUrl)">
                    <v-icon >mdi-download</v-icon>
                  </v-btn>
                  <v-dialog v-model="del_dialog" width="200">
                    <template v-slot:activator="{ on }">
                      <v-btn    color="red lighten-2" dark v-on="on"> 
                        <v-icon right >mdi-trash-can</v-icon>
                      </v-btn>
                    </template>
                    <v-card>
                      <v-card-text > Are you sure you want to delete this item? </v-card-text>
                      <v-divider></v-divider>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn  @click="del_dialog = false">Cancel</v-btn>
                        <v-btn  @click="deletePhoto(currentKey)">Yes</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-card-actions>
                <v-img :src="currentUrl"></v-img>
                <v-card-text>
                  <v-chip v-for="tag in tags" @click="search(tag)">{{ tag }}</v-chip>
                </v-card-text>
              </v-card>
               <!-- <photo-item  :key="item.key" action="photo" :url="item.url" :pkey="item.key" :thumburl="item.thumburl"></photo-item> -->
            </v-flex>
          </v-layout>
        </v-container>
      </v-main>
    </v-app>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="js/config.js"> </script>
  <script src="js/gridvue.js"></script>
</body>
</html>